@using System.Drawing




@{
    ViewBag.Title = "StatView";
}

<h2>StatView</h2>

<header>
    <br/>
    <img src="../../Icon.png" style="height: 100pt" align="bottom">
</header>

@functions{
    string ColorForParameter(string parameter)
    {
        switch (@parameter)
        {
            case "Temperature":
                return "#FF584D";
            case "Humidity":
                return "#0354A5";
            case "Chlorine":
                return "#49BAE1";
            case "pH":
                return "#FDA029";
            default:
                return "#987654";
        }
    }

}
@{ var parameter = "";}
<div class="container">
<br/>
@{parameter = "Temperature";
 var tableColor = ColorForParameter(parameter);}
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px" >
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">23&#x2103</td>
        </tr>

        <tr>
            <td class="Target">Target: 30&#x2103 </td>
        </tr>
    </table>
</div>
<br/>

@{parameter = "pH";}
@{tableColor = ColorForParameter(parameter);}
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">23&#x2103</td>
        </tr>

        <tr>
            <td class="Target">Target: 30&#x2103 </td>
        </tr>
    </table>
</div>
<br />

@{parameter = "Chlorine";}
@{tableColor = ColorForParameter(parameter);}
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">23&#x2103</td>
        </tr>

        <tr>
            <td class="Target">Target: 30&#x2103 </td>
        </tr>
    </table>
</div>
<br />



@{parameter = "Humidity";}
@{tableColor = ColorForParameter(parameter);}
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">23&#x2103</td>
        </tr>

        <tr>
            <td class="Target">Target: 30&#x2103 </td>
        </tr>
    </table>
</div>
<br/>
</div>

