@using System.Drawing
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "StatView";
}
@functions{
    string ColorForParameter(string parameter)
    {
        switch (@parameter)
        {
            case "Temperature":
                return "#FF584D";
            case "Humidity":
                return "#0354A5";
            case "Chlorine":
                return "#49BAE1";
            case "pH":
                return "#FDA029";
            default:
                return "#987654";
        }
    }

}
@{ 
    var parameter = "";
    var temp = "";
    var pH = "";
    var chlorine = "";
    var humidity = "";
    var tempTarget = "";
    var phTarget = "";
    var chlorineTarget = "";
    var humidityTarget = "";
    var degree = "°C";
    var ppm = "ppm";
    var percentage = "%";
 }
<div class="container">
<br/>
    @{
        parameter = "Temperature";
        var tableColor = ColorForParameter(parameter);
        temp = "23";
        tempTarget = "30";
    }
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px" >
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">@temp @degree</td>
        </tr>

        <tr>
            <td class="Target">Target: @tempTarget @degree </td>
        </tr>
    </table>
</div>
<br/>

@{
    parameter = "pH";
    tableColor = ColorForParameter(parameter);
    pH = "7,6";
    phTarget = "7";
}

<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">@pH</td>
        </tr>

        <tr>
            <td class="Target">Target: @phTarget </td>
        </tr>
    </table>
</div>
<br />

@{
    parameter = "Chlorine";
    tableColor = ColorForParameter(parameter);
    chlorine = "2";
    chlorineTarget = "1";
}

<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">@chlorine @ppm</td>
        </tr>

        <tr>
            <td class="Target">Target: @chlorineTarget @ppm </td>
        </tr>
    </table>
</div>
<br />



@{
    parameter = "Humidity";
    tableColor = ColorForParameter(parameter);
    humidity = "40";
    humidityTarget = "20";
}
<div class="SP_button" style="border: 3px solid @tableColor; border-radius: 5px">
    <table class="SP_button" onclick="location.href = 'www.google.dk'" style="color: @tableColor; border: 3px solid @tableColor; border-radius: 5px;">
        <tr>
            <td class="Parameter" style="border-bottom: 2px solid @tableColor"> @parameter</td>
        </tr>

        <tr>
            <td class="Value">@humidity @percentage</td>
        </tr>

        <tr>
            <td class="Target">Target: @humidityTarget @percentage </td>
        </tr>
    </table>
</div>
<br/>
</div>

