@using System.Web.UI.WebControls
@using Smartpool_Website.Models
@model RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="input-form">
        @Html.TextBoxFor(m => m.Email, new { placeholder = "E-Mail" })
    </div>
    <div class="input-form">
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password"})
    </div>
    <div class="input-form">
            @Html.PasswordFor(m => m.ConfirmPassword, new { placeholder ="Confirm Password"})
    </div>
    <div>
            <input type="submit" class="btn-login" value="Register" />
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
